# Weights folders
weights/
src/stages/inpaint/DiffuEraser/weights/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
PIPFILE.lock

# Environment variables
.env
.env.local
test_modal_api.py

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp


.torch_compile_cache/

# Files containing secrets/credentials
**/setup-project.sh
setup-project.sh
DOCKER-USAGE.txt
# deployment_test.py

modal_docs

